.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  align-self: center;
  color: #fff;
}

.menu__title {
  max-width: 780px;
  margin-top: 100px;
  margin-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 50px;
}

.menu__subtitle {
  max-width: 780px;
  margin-bottom: 100px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 180px;
}

.menu__cards {
  margin-bottom: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 100px;
}
